@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
#aside
  display none
.ig
  font-family Roboto, sans-serif
  width 960px
  position relative
  .zapasy
    list-style-type none !important
    margin 0px
    padding 0px
    display block
    float left
    width 700px
    li
      padding 0px
      width 270px
      float left
      margin 0px 40px 30px 0px !important
      position relative
      .names
        border 1px solid #a
        border-radius 10px
        float left
        width 100%
        > .name
          display block
          float left
          width 50%
          padding 5px 6px
          position relative
          img
            position absolute
            top 6px
            height 16px
            width 24px

        .name1
          text-align right
          img
            left 12px
        .name2
          img
            right 12px
      .date
        position absolute
        top 37px
        left 6px
        width 90px
      .today
        position absolute
        top 37px
        right 6px
        text-transform uppercase
        color lighten(#060, 20%)
        font-weight 900

      .scores
        width 60px
        margin-left 50%
        transform translate(-50%, 0)
        position relative
        float left
        border 1px solid #a
        border-top 1px solid #e
        top -1px
        border-bottom-left-radius 15px
        border-bottom-right-radius 15px
        > .score
          display block
          width 50%
          float left
          padding 11px 6px
          font-weight 900
          background white
          position relative
          z-index 3
        .score1
          border-bottom-left-radius 15px
          text-align right
        .score2
          &:after
            content ":"
            position absolute
            left 0px
            transform translate(-50%,0)
        .score2
          border-bottom-right-radius 15px
        .score-modifier
          position absolute
          top 0px
          z-index 2
          &.score-modifier1
            left -20px
            a
              border-left 1px solid #c
              border-bottom 1px solid #c
              padding-right 6px
          &.score-modifier2
            right -20px
            a
              border-right 1px solid #c
              border-bottom 1px solid #c
              padding-left 6px
          a
            display block
            float left
            clear both
            text-decoration none
            font-weight 900
            color black !important
            line-height 19px
            width 26px
            text-align center
            &:first-child:hover
              background ColorRed
            &:hover
              background ColorBlue
              color white !important

          &.score-modifier1
            a:nth-child(2)
              border-bottom-left-radius 10px
          &.score-modifier2
            a:nth-child(2)
              border-bottom-right-radius 10px

      &.today
          .names
            background rgba(#060, 0.02)
          .names
            border-color lighten(#060, 10%)
          .scores
            border-top-color lighten(#060, 70%)
      &.decided
        .names
        .scores
          background #fc
        .names
          font-weight 500
        .scores > .score
            padding 5px 6px
      &:not(.decided)
        .date
          width 75px
      &.not-countable
          .scores
            color #a
  table
    position absolute
    top 0px
    right 236px
    border-collapse collapse
    tbody
      tr
        position absolute
        display block
        width 236px
        transition top 0.4s
      td
      th
        display block
        float left
        padding 6px 7px
        border-bottom 1px solid #d
      td.order
        padding 6px 4px 6px 6px
      th
        text-align left
        width 143px
        img
          margin-right 10px
          width 24px
          height 16px
          position absolute
          top 7px
        span
          padding-left 36px
      td.points
        white-space nowrap
        width 70px

      tr[data-index="0"]
      tr[data-index="1"]
        background lighten(ColorBlue, 90%)
        color ColorBlue
        td
        th
          border-bottom-color lighten(desaturate(ColorBlue, 50%), 70%)
      tr[data-index="2"]
        background lighten(ColorBlue, 96%)
        color ColorBlue
        td
        th
          border-bottom-color lighten(desaturate(ColorBlue, 50%), 80%)
